.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search_crypto {
  width: 250px;
  margin-bottom: 12px;
}

.card {
  border-radius: 10px;
  border: 2px solid lightblue;
  /* background: #fafafa; */
  background: #fffdd0;
}

.card p {
  font-weight: bold;
  font-size: 1.15rem;
}

.card:hover {
  border-color: sandybrown;
}

@media screen and (max-width: 550px) {
  .crypto_card {
    max-width: 95vw;
  }

  .chart_container {
    width: 80%;
    margin-left: 10%;
  }
}
