.coin_heading_container {
  text-align: center;
}

.coin_heading_container p {
  font-size: 1.5rem;
}

.stats_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 1000px) {
  .stats_container {
    flex-direction: column;
  }
}

.coin_details_heading {
  margin-top: 2rem;
}

.coin_stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.coin_stats_name {
  display: flex;
  gap: 10px;
  font-size: 1.25rem;
}

.stats {
  font-weight: bold;
  font-size: 1.25rem;
}

.coin_value_statistics_heading p {
  font-size: 1.25rem;
}

.coin_desc {
  font-size: 1.25rem;
}

.link_name {
  display: flex;
  gap: 20px;
  align-items: center;
}
