.news_title_image_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.news_image_container {
  margin-top: 0.5rem;
  min-height: 125px;
}

.news_summary {
  color: black;
}

.provider_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

