.app {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.navbar {
  flex: 0.2;
}

.main {
  flex: 0.8;
  /* background: #90ee90; */
  /* background: #b2ff59; */
  background: #c5e1a5;
  /* background: #aed581; */
  overflow-y: auto;
}

.children {
  padding: 1rem;
}

@media screen and (max-width: 800px) {
  .app {
    /* flex-direction: column; */
    display: block;
  }
}
