.nav_container {
  padding-top: 10px;
  height: 100vh;
}

.logo_container {
  /* padding: 2rem 0 0.5rem 0; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.link {
  color: #e75480 !important;
  font-style: italic;
}

.menu_item {
  /* color: #e75e80 !important; */
  color: #e75480 !important;
}

.menu_control_container {
  display: none !important;
}

@media screen and (max-width: 800px) {
  .nav_container {
    height: 8vh;
  }

  .menu_control_container {
    margin-bottom: 5px;
    display: block !important;
  }

  .active_menu {
    z-index: 1200;
    position: relative;
  }
}
